<a href="https://colab.research.google.com/github/shirisha1719/AIAC/blob/main/4_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1:Task1:Zero-shot: Prompt AI to write a function that checks whether a given year is a leap year.

prompt:write a python function to check whether a given year is leap year in zero shot.

In [2]:
def is_leap(year):
  """Checks if a given year is a leap year."""
  return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

# Example usage:
print(is_leap(2000))
print(is_leap(1900))
print(is_leap(2024))

True
False
True

Task2:One-shot: Give one input-output example to guide AI in writing a function that converts centimeters to inches.

Prompt:write a python code to convert centimeters into inches in one shot

In [4]:
def cm_to_inches(cm):
  """Converts centimeters to inches."""
  return cm * 0.393701

# One-shot example:
# Convert 100 centimeters to inches
print(f"100 cm is equal to {cm_to_inches(100)} inches")

100 cm is equal to 39.3701 inches

Task3:Few-shot: Provide 2–3 examples to generate a function that formats full names as “Last, First”.

Prompt:write a python code to generate a function that formats full names as "Last,First" with few examples.

In [5]:
def format_name(full_name):
  """Formats a full name as 'Last, First'."""
  names = full_name.split()
  if len(names) > 1:
    return f"{names[-1]}, {' '.join(names[:-1])}"
  else:
    return full_name

# Few-shot examples:
print(format_name("John Doe"))
print(format_name("Jane Smith"))
print(format_name("Peter Pan"))

Doe, John
Smith, Jane
Pan, Peter